*{
    margin: 0;
    padding: 0;
}


.header {
    height: 100vh;
}
.navbar-style {

    box-shadow: 0 5px 10px #efefef;
}
.logo {

    height: 48px;
    padding: 2px 10px;
}
.icon-bar {

    background: #FF8C00;
}
li a {

    color: black;
}
.para-first{

    font-size: 32px;
    margin: 20px 0;
    color: #FF8C00;
}
a.btn {

    /* display: flex; */
    justify-content: center;
    margin-top: 80px 0 0 30px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first {

    background-color: #FF8C00;
    color: #fff;

}

a.btn-second {

    background: transparent;
    border: 1px solid #FF8C00;
    color: #FF8C00;
}
a.btn:hover {

    background: #FF8C00;
    border: none;
    color: black;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.banner-info, .banner-image {

    margin: 30px 0;

}
.banner-info{

    margin: 200px 0 0 0;
}
/* .row-color {

    background-color: #1a8bab;
} */

.sec-1 {

    background-color: #1a8bab;

}

.para-first {
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.big-text {
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: white;
}

.para-second{

    text-align: center;
}

.head-pro {

    text-align: center;
    margin: 50px 0 0 0;
    font-family: poppins, sans-serif;
}

.parag-pro {

    text-align: center;
    margin: 10px 0 0 0;

}

.para-first {

    font-family: poppins, sans-serif;

}

.para-second {

    font-family: poppins, sans-serif;
    font-size: 30px;

}

.sec-3 {

    margin: 70px;
}

.amz-kp {

    background-color: #e7eaee;
}

.amz-ps {

    background-color: #545e69;
}

